{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}

<div class="sidenav">
    <a href="{{ path('ticket_index') }}">Tickets</a>
    <a href="{{ path('project_index') }}">Projects</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('export_new') }}">Export</a>
        <a href="{{ path('user_index') }}">Users</a>
    {% endif %}
        <a href="{{ path('export_index') }}">History</a>
    <a href="{{ path('logout') }}">Logout</a>
</div>
<div class="main">
    <h1>Create new Project</h1>
    {{ include('project/_form.html.twig') }}
    <a href="{{ path('project_index') }}" class="btn btn-outline-primary">back to list</a>
    </div>
{% endblock %}
